@import './reset.css';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: RobotoBlack;
  src: url('../assets/fonts/Roboto-Black.woff') format('woff');
}

$Gray: rgb(63, 63, 63);
$lightGray: rgb(139, 139, 139);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin scrollBar {
  ::-webkit-scrollbar {
    width: 2em;
    height: 0.8em;
  }

  ::-webkit-scrollbar-track {
    background: Gray;
    border-radius: 100vw;
    margin-block: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background: lightGray;
    border: 0.25em solid lightGray;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: lightGray;
  }
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 2.5fr 1fr;
  font-family: Roboto;
  overflow-y: scroll;
  scrollbar-gutter: auto;
  @include scrollBar();
}

.headerDiv {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 0.3fr minmax(auto, 80em) 0.3fr;
}

.header {
  grid-column: 2/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.4fr;
  grid-template-rows: 0.3fr 1fr 0.8fr;

  .searchBarContainer {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;

    #searchBar {
      width: 80%;
      height: 40%;
      border: none;
      outline: none;
      font-size: 16px;
      text-indent: 10px;
    }
    .buttonDiv {
      height: 40%;
      width: 10%;
      .searchButton {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }

  .currentTemperatureDiv {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .currentTemperatureDiv2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 70%;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.644);

      .highAndLow {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 15%;
        #highTemp {
          @include flexCenter();
        }
        #lowTemp {
          @include flexCenter();
        }
      }

      .currentTemperature {
        width: 100%;
        height: 70%;
        @include flexCenter();
        font-size: 60px;
      }

      .feelsLikeDiv {
        height: 15%;
        width: 100%;
        @include flexCenter();
      }
    }
  }

  .currentLocation {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: RobotoBlack;
    font-size: 36px;
    @include flexCenter();

    .locationContainer {
      @include flexCenter();
      background-color: rgba(255, 255, 255, 0.644);
      border-radius: 8px;
      width: 70%;
      height: 130px;
      flex-wrap: wrap;
      padding: 10px;
      text-align: center;
      flex-direction: column;
      justify-content: space-around;

      .switchContainer {
        display: flex;
        flex-direction: row;

        #Celsius {
          margin-right: 10px;
        }

        #Farenheit {
          margin-left: 10px;
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgb(0, 0, 0);
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: '';
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }
  }

  .currentWeather {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .containerDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 70%;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.644);
      .weatherIconDiv {
        width: 100%;
        height: 85%;
        @include flexCenter();
        .weatherIcon {
          height: 85%;
        }
      }
      .weatherExplanation {
        width: 100%;
        height: 15%;
        @include flexCenter();
      }
    }
  }

  .currentHourlyWeather {
    grid-column: 1/4;
    grid-row: 3/4;
    overflow-x: scroll;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    max-width: 200vw;
    display: flex;
    padding-top: 20px;
    .weatherIcon {
      height: 90%;
      width: 110px;
      @include flexCenter();
      justify-content: space-around;
      flex-direction: column;
      margin-left: 30px;
      margin-right: 30px;
      font-size: 20px;
      background-color: rgba(255, 255, 255, 0.644);
      margin-top: 10px;
      border-radius: 8px;
    }
  }
}

.footer {
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: rgb(49, 49, 49);
  color: white;
  .dailyTempTitle {
    width: 100%;
    height: 30%;
    @include flexCenter();
    background-color: rgba(17, 16, 16, 0.938);
    border-bottom: 2px solid black;
  }
  .dailyTemperatureDiv {
    height: 70%;
    background-color: black;
  }
}
